<div class="row shrink">
    <div class="switch automatic">
        <label for="automatic-switch">Auto</label>
        <div class="control">
            <input type="checkbox" id="automatic-switch" />
            <label for="automatic-switch"></label>
        </div>
    </div>
</div>
<div class="row">
    <div data-region="pane"></div>
</div>
<div data-region="brightness"></div>