#brightness {
    height: 70px;
    padding: 20px 70px;
    position: relative;
    background: rgba(#000, .05);

    .moon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        left: 20px;

        &:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 3px;
            left: 3px;
            border: 2px solid #000;
            border-radius: 100%;
        }
    }

    input[type="range"] {
        width: 100%;
        height: 30px;
        background: transparent;
        -webkit-appearance: none;

        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 30px;
            padding: 2px;
            background: #fff;
            border-radius: 15px;
            border: none;
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            height: 26px;
            width: 26px;
            margin-top: 0;
            background: #222;
            border-radius: 13px;
            cursor: pointer;
            -webkit-appearance: none;
        }
    }

    .sun {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 20px;
        right: 20px;

        svg {
            width: 100%;
            height: 100%;
        }
    }
}
